header {
    position: relative;
    .container {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 4rem;

            .more-link {
                display: flex;
                align-items: center;
                color: $black;

                a {
                    text-decoration: underline;
                    margin-right: 1.6rem;
                    font-size: 1.6rem;
                    line-height: 160%;
                }
            }

            .social-medias {
                ul {
                    display: flex;
                    align-items: center;

                    li {
                        &:not(:last-child) {
                            margin-right: 3.5rem;
                        }
                    }
                    
                }
            }
            margin-bottom: 3.3rem;
        }

            .price {
                background-color: $white;
                width: 122px;
                padding: 0.8rem 1.6rem;
                border-radius: 12.2rem;
                line-height: 1.6rem;
                font-size: 1.3rem;

                span {
                    color: $red;
                }
            }
    }

    .border {
        z-index: -1;
        width: 100%;
        height: 0.2rem;
        background-color: $white;
        position: absolute;
        bottom: 1.5rem;
    }

    @media(max-width: 560px) {
        .container {
            nav {
                .logo {
                    max-width: 180px;
                }

                .more-link {
                    display: none;
                }
            }      
        }    
    }
}