.s-hero {
    margin-top: 6.4rem;

    .container {
        display: flex;
        justify-content: space-between;

        .left-content {
            width: 100%;
            max-width: 55.5rem;

            .text {
                position: relative;

                .star {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
    
                h1 {
                    margin-bottom: 2.6rem;
                    z-index: 1;
                }

                .yellow-border {
                    height: 0.8rem;
                    width: 460px;
                    background-color: $yellow;

                    position: absolute;
                    bottom: 12.6rem;
                    left: 6px;
                    z-index: -1;
                }
            }

            .input {
                width: 100%;
                margin-top: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                background-color: $white;
                padding: 1.1rem 1.5rem;
                border-radius: 122px;

                input {
                    border: none;
                    outline: 0;

                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    letter-spacing: -0.005em;
                    color: $input;

                    padding-left: 2rem;
                }
            }

            .brands {
                margin-top: 5.6rem;
                ul {
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                }
            }

            .reviews {
                margin-top: 6.7rem;
                display: flex;
                align-items: center;
                gap: 1.6rem;

                .grade-review {
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                }
            }
        }

        .right-content {
            width: 100%;
            max-width: 52rem;
        }
    }

    @media(max-width: 991px) {
        .container {
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .left-content {
                margin-bottom: 4rem;
                .text {
                    text-align: center;
                    .yellow-border {
                        width: 100%;
                        bottom: 11.3rem;
                    }
                    .star {
                        right: -0.8rem;
                    }
                }
                .brands {
                   ul {
                    justify-content: center;
                   }
                }
                .reviews {
                    margin-top: 4rem;
                    flex-direction: column;
                    justify-content: center;

                    .grade-review {
                        img {
                            width: 1.6rem;
                        }
                        span {
                            font-size: 1.6rem;
                        }
                    }
                }
            }

            .right-content {
                display: none;
            }
        }
    }
    @media(max-width: 560px) {
        .container {
            .left-content {
                .text {
                    h1 {
                        margin-bottom: 1.5rem;
                    }
                    .star {
                        z-index: -1;
                        top: -6px;
                    }
                    .yellow-border {
                        bottom: 10.2rem;
                    }
                }

                .input {
                    margin-top: 3rem;
                    padding: 1rem;
                    input {
                        font-size: 1.4rem;
                        padding-left: 1.2rem;
                    }
                    .btn {
                        font-size: 12px;
                        padding: 1rem;
                    }
                }

                .brands {
                    margin-top: 3rem;
                }

                .reviews {
                    margin-top: 3rem;
                    gap: 1rem;

                    .grade-review {
                        span {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

.s-benefits {
    margin-top: 6.4rem;
    position: relative;
    .container {
        .cards {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .white-board {
        background-color: $white;
        height: 21.6rem;
        width: 100%;

        position: absolute;
        top: 11.6rem;
        z-index: -1;
    }

    // @media(max-width: 991px) {
    //     .container {
    //         .cards {
    //             flex-direction: column;
    //             .card {
    //                 margin-bottom: 2rem;
    //             }
    //         }
    //     }
    // }
}