h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 7.7rem;
    letter-spacing: -0.01em;
    color: $black;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 150%;
    color: $black;
}

p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 160%;
    color: $text;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $white;
    background-color: $black;
    padding: 1.5rem 2.8rem;
    border-radius: 9.76rem;
}

.card{
    background-color: $white;
    width: 100%;
    max-width: 38.4rem;
    border-radius: 12px;

    .info {
        padding: 4.8rem 4rem;

        .image {
            margin-bottom: 3rem;
        }

        .text {
            span {
                font-family: 'Inter', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 160%;
                color: $text;
            }
        }
    }
}