* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  color: #606272;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #E7E7E9;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 143.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (max-width: 1440px) {
  .container {
    max-width: 124.8rem;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 7.7rem;
  letter-spacing: -0.01em;
  color: #1C1C1F;
}
@media (max-width: 991px) {
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.8rem;
  }
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 150%;
  color: #1C1C1F;
}
@media (max-width: 560px) {
  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
  color: #606272;
}
@media (max-width: 560px) {
  p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.btn {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #FDFDFD;
  background-color: #1C1C1F;
  padding: 1.5rem 2.8rem;
  border-radius: 9.76rem;
}

.card {
  background-color: #FDFDFD;
  width: 100%;
  max-width: 38.4rem;
  border-radius: 12px;
}
.card .info {
  padding: 4.8rem 4rem;
}
.card .info .image {
  margin-bottom: 3rem;
}
.card .info .text span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
  color: #606272;
}

header {
  position: relative;
}
header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  margin-bottom: 3.3rem;
}
header .container nav .more-link {
  display: flex;
  align-items: center;
  color: #1C1C1F;
}
header .container nav .more-link a {
  text-decoration: underline;
  margin-right: 1.6rem;
  font-size: 1.6rem;
  line-height: 160%;
}
header .container nav .social-medias ul {
  display: flex;
  align-items: center;
}
header .container nav .social-medias ul li:not(:last-child) {
  margin-right: 3.5rem;
}
header .container .price {
  background-color: #FDFDFD;
  width: 122px;
  padding: 0.8rem 1.6rem;
  border-radius: 12.2rem;
  line-height: 1.6rem;
  font-size: 1.3rem;
}
header .container .price span {
  color: #F04264;
}
header .border {
  z-index: -1;
  width: 100%;
  height: 0.2rem;
  background-color: #FDFDFD;
  position: absolute;
  bottom: 1.5rem;
}
@media (max-width: 560px) {
  header .container nav .logo {
    max-width: 180px;
  }
  header .container nav .more-link {
    display: none;
  }
}

.s-hero {
  margin-top: 6.4rem;
}
.s-hero .container {
  display: flex;
  justify-content: space-between;
}
.s-hero .container .left-content {
  width: 100%;
  max-width: 55.5rem;
}
.s-hero .container .left-content .text {
  position: relative;
}
.s-hero .container .left-content .text .star {
  position: absolute;
  right: 0;
  top: 0;
}
.s-hero .container .left-content .text h1 {
  margin-bottom: 2.6rem;
  z-index: 1;
}
.s-hero .container .left-content .text .yellow-border {
  height: 0.8rem;
  width: 460px;
  background-color: #F7B40D;
  position: absolute;
  bottom: 12.6rem;
  left: 6px;
  z-index: -1;
}
.s-hero .container .left-content .input {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FDFDFD;
  padding: 1.1rem 1.5rem;
  border-radius: 122px;
}
.s-hero .container .left-content .input input {
  border: none;
  outline: 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.005em;
  color: #989BA7;
  padding-left: 2rem;
}
.s-hero .container .left-content .brands {
  margin-top: 5.6rem;
}
.s-hero .container .left-content .brands ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.s-hero .container .left-content .reviews {
  margin-top: 6.7rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.s-hero .container .left-content .reviews .grade-review {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.s-hero .container .right-content {
  width: 100%;
  max-width: 52rem;
}
@media (max-width: 991px) {
  .s-hero .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .s-hero .container .left-content {
    margin-bottom: 4rem;
  }
  .s-hero .container .left-content .text {
    text-align: center;
  }
  .s-hero .container .left-content .text .yellow-border {
    width: 100%;
    bottom: 11.3rem;
  }
  .s-hero .container .left-content .text .star {
    right: -0.8rem;
  }
  .s-hero .container .left-content .brands ul {
    justify-content: center;
  }
  .s-hero .container .left-content .reviews {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
  }
  .s-hero .container .left-content .reviews .grade-review img {
    width: 1.6rem;
  }
  .s-hero .container .left-content .reviews .grade-review span {
    font-size: 1.6rem;
  }
  .s-hero .container .right-content {
    display: none;
  }
}
@media (max-width: 560px) {
  .s-hero .container .left-content .text h1 {
    margin-bottom: 1.5rem;
  }
  .s-hero .container .left-content .text .star {
    z-index: -1;
    top: -6px;
  }
  .s-hero .container .left-content .text .yellow-border {
    bottom: 10.2rem;
  }
  .s-hero .container .left-content .input {
    margin-top: 3rem;
    padding: 1rem;
  }
  .s-hero .container .left-content .input input {
    font-size: 1.4rem;
    padding-left: 1.2rem;
  }
  .s-hero .container .left-content .input .btn {
    font-size: 12px;
    padding: 1rem;
  }
  .s-hero .container .left-content .brands {
    margin-top: 3rem;
  }
  .s-hero .container .left-content .reviews {
    margin-top: 3rem;
    gap: 1rem;
  }
  .s-hero .container .left-content .reviews .grade-review span {
    font-size: 1.4rem;
  }
}

.s-benefits {
  margin-top: 6.4rem;
  position: relative;
}
.s-benefits .container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-benefits .white-board {
  background-color: #FDFDFD;
  height: 21.6rem;
  width: 100%;
  position: absolute;
  top: 11.6rem;
  z-index: -1;
}
@media (max-width: 1200px) {
  .s-benefits .container .cards .card:not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .s-benefits .container .cards {
    flex-direction: column;
  }
  .s-benefits .container .cards .card {
    margin-bottom: 2rem;
  }
  .s-benefits .white-board {
    top: 51.5rem;
  }
}
@media (max-width: 560px) {
  .s-benefits .container .cards .card .info {
    padding: 3rem 4rem;
  }
  .s-benefits .container .cards .card .info .image {
    margin-bottom: 2rem;
  }
  .s-benefits .container .cards .card .info .text span {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .s-benefits .white-board {
    top: 43rem;
  }
}/*# sourceMappingURL=main.css.map */